---
layout: base.njk
---

{{ content | safe }}

<div class="post-list">
    <h2 class="post-list-title">Recent</h2>
    {% for post in collections.posts | reverse %}
        {% set excerpt = post.templateContent | excerpt %}
        <article class="post-card">
            <h3>
                <a href="{{ post.url | url }}">{{ post.data.title }}</a>
            </h3>
            <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
            <p>
                {{ excerpt | striptags | decodeHtmlEntities | truncate(200) }}
            </p>
        </article>
    {% endfor %}
</div> 